\:root 

    /*=============================================*/
    /*=         Default Color Variables           =*/
    /*=============================================*/

    // primary 
    --color-p: #4D6155
    --color-a: #5D5C61

    // text
    --color-t: #2E3337
    --color-t-h: #5D5C61
    --color-t-c: rgba(46, 51, 55, 0.8)
    --color-t-a: var(--color-p)
    --color-t-alt: #FFFFFF
    --color-t-h-alt: #444444

    // background
    --color-b: #F8F8F8
    --color-b-alt: #FFFFFF
    --color-b-f: #2E3337

    // ui-specific
