\:root 

    /*=============================================*/
    /*=         Default Color Variables           =*/
    /*=============================================*/

    // primary 
    --color-p: #39617A
    --color-a: #5D5C61
    --color-a-2:  #4D6155

    // text
    --color-t: #2E3337
    --color-t-h: var(--color-a-2)
    --color-t-h-alt: #5D5C61
    // --color-t-h-alt: var(--color-p)
    --color-t-c: #717577
    --color-t-a: var(--color-a-2)
    --color-t-alt: #FFFFFF
    // --color-t-h-alt: #444444

    // background
    --color-b: #F8F8F8
    --color-b-alt: #FFFFFF
    --color-b-f: #2B2B2B

    // ui-specific
    // --color-button: #39617A
    --color-button: #39617A